{%extends "base.html"%}
{%block body%}
{%block docentes%} aria-current="page" class="nav-link active" {%endblock%}
<div class="contenedor_global">

    <form action="/agregar_docente/" method="POST" class="row g-3 needs-validation" novalidate>{% csrf_token %}
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Nombre(s)</label>
          <input name="nombres" type="text" class="form-control" id="validationCustom01" required>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Apellido(s)</label>
          <input name="apellidos" type="text" class="form-control" id="validationCustom02" required>
        </div>
        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label">Email</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input name="email" type="email" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationCustom05" class="form-label">Edad</label>
          <input name="edad" type="number" class="form-control" id="validationCustom05" required="">
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Agregar</button>
        </div>
      </form>
      <br><br>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre(s)</th>
            <th scope="col">Apellido(s)</th>
            <th scope="col">Email</th>
            <th scope="col">Edad</th>
          </tr>
        </thead>
        <tbody>
          {%for d in docentes%}
          <tr>
            <th scope="row">{{d.id}}</th>
            <td>{{d.nombres}}</td>
            <td>{{d.apellidos}}</td>
            <td>{{d.email}}</td>
            <td>{{d.edad}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
</div>
{%endblock%}